In [4]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [19]:
raw_df = pd.read_csv("marketing_campaign.csv",sep="\t") #Untuk mengimport data
raw_df.head() #Untuk melihat 5 baris data pada data frame

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [20]:
raw_df.shape      #Untuk melihat dimensi data

(2240, 29)

In [21]:
df = raw_df[['Education', 'Income']] #Untuk mengambil data dari 'data frame'
df.head()

    Education   Income
0  Graduation  58138.0
1  Graduation  46344.0
2  Graduation  71613.0
3  Graduation  26646.0
4         PhD  58293.0

In [22]:
df.groupby(['Education']).var() #Untuk melihat variasi jenjang dalam 'Education'

                  Income
Education
2n Cycle    4.892538e+08
Basic       3.887606e+07
Graduation  7.939542e+08
Master      4.063364e+08
PhD         4.248949e+08

In [23]:
df.groupby(['Education']).count() #Untuk menghitung total pada tiap jenjang

            Income
Education
2n Cycle       200
Basic           54
Graduation    1116
Master         365
PhD            481

In [15]:
df.groupby(['Education']).mean() #Deskripsi Statistik #'Mean' pada tiap jenjang

                  Income
Education
2n Cycle    47633.190000
Basic       20306.259259
Graduation  52720.373656
Master      52917.534247
PhD         56145.313929

In [16]:
df.groupby(['Education']).median() #Untuk mengetahui 'Median' untuk tiap jenjang

             Income
Education
2n Cycle    46805.0
Basic       20744.0
Graduation  52028.5
Master      50943.0
PhD         55212.0

In [17]:
df.groupby(['Education']).agg(pd.Series.mode) #Untuk mengetahui 'Modus' pada tiap jenjang

                                                       Income
Education
2n Cycle                                               7500.0
Basic       [7500.0, 20425.0, 22634.0, 24594.0, 24882.0, 2...
Graduation                                             7500.0
Master                                     [46098.0, 63841.0]
PhD                                                   35860.0

In [18]:
df.groupby(['Education']).std() #Standar Deviasi ditiap jenjang

                  Income
Education
2n Cycle    22119.081838
Basic        6235.066773
Graduation  28177.192681
Master      20157.788029
PhD         20612.979997

In [ ]:
df_2n_Cycle = df[df['Education'] == '2n Cycle'] #Tes Hipotesis #Stratifikasi untuk tiap jenjang
df_Basic = df[df['Education'] == 'Basic']
df_Graduation = df[df['Education'] == 'Graduation']
df_Master = df[df['Education'] == 'Master']
df_PhD = df[df['Education'] == 'PhD']

In [ ]:
df_2n_Cycle = df_2n_Cycle[df_2n_Cycle['Income'].isna() == False] #Memfilter 'missing value' dari data
df_Basic = df_Basic[df_Basic['Income'].isna() == False]
df_Graduation = df_Graduation[df_Graduation['Income'].isna() == False]
df_Master = df_Master[df_Master['Income'].isna() == False]
df_PhD = df_PhD[df_PhD['Income'].isna() == False]

In [ ]:
H_0 = ('variasi jenjang dalam edukasi tidak memiliki pengaruh terhadap income') #menentukan hipotesis
H_1 = ('variasi jenjang dalam edukasi memiliki pengaruh signifikasn dalam income')

In [ ]:
anova = st.f_oneway(df_2n_Cycle['Income'], #P-value pada hasil tes
                    df_Basic['Income'],
                    df_Graduation['Income'],
                    df_Master['Income'],
                    df_PhD['Income'])

In [ ]:
p_value = anova.pvalue #hasil nilai tes p-value
p_value

1.6677281316366318e-22

In [ ]:
if p_value > 0.05: #pengambilan keputusan hipotesis
   print(H_0)
else:
   print(H_1)

variasi jenjang dalam edukasi memiliki pengaruh signifikasn dalam income